<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="dbPathD" connectionString="D:\HassanRayaneh\Book\data.bson"/>
		<add name="dbDirD" connectionString="D:\HassanRayaneh\Book"/>
		<add name="dbPathC" connectionString="C:\HassanRayaneh\Book\data.bson"/>
		<add name="dbDirC" connectionString="C:\HassanRayaneh\Book"/>
	</connectionStrings>
</configuration>